In [2]:
import pandas as pd
import matplotlib as plt   #las librerias se tienen que importar cada que haga un nuevo codigo
import numpy as np

In [3]:
alumnos = pd.read_csv(r'C:\Users\caroc\Untitled Folder\datostic.csv')

In [4]:
alumnos

     nombre  edad  grupo    telefono
0     tomas    22   tis9  4651227984
1     mario    22  tics9  4492904374
2  valeria     21  tics9  4651190280
3     karla    22  tics9  4651163338

In [5]:
edad = alumnos.iloc[2,1]

In [6]:
edad

21

In [7]:
edad = alumnos.iloc[2]  #si no selecciona una columna, se mostraran todos los datos de la fila

In [8]:
edad

nombre        valeria
edad                21
grupo            tics9
telefono    4651190280
Name: 2, dtype: object

In [9]:
lista = alumnos['nombre'] #guarda en una lista la columna de nombres

In [10]:
lista

0       tomas
1       mario
2    valeria
3       karla
Name: nombre, dtype: object

In [81]:
matriz = pd.read_csv(r'C:\Users\caroc\Untitled Folder\matriz1.csv')

In [82]:
matriz

   1  2  3   4
0  2  3 -1   8
1  4  1  2   6
2  3  2  3  11

In [83]:
col1 = matriz.iloc[0,0]

In [84]:
col1

2

In [85]:
col2 = matriz.iloc[1,1]

In [86]:
col2

1

In [87]:
col3 = matriz.iloc[2,2]

In [88]:
col3

3

In [89]:
x= col1 / 4

In [90]:
x

0.5

In [91]:
fila1= matriz.iloc[0]

In [92]:
fila1

1    2
2    3
3   -1
4    8
Name: 0, dtype: int64

In [93]:
fila1 * x

1    1.0
2    1.5
3   -0.5
4    4.0
Name: 0, dtype: float64

In [72]:
y = col2 /

4

In [73]:
y

-0.25

In [74]:
fila2= matriz.iloc[1]

In [75]:
fila2

1    4
2   -1
3    2
4   -2
Name: 1, dtype: int64

In [76]:
fila2  y

1   -16.0
2     4.0
3    -8.0
4     8.0
Name: 1, dtype: float64

In [52]:
fila3= matriz.iloc[2]

In [53]:
fila3

1   -1
2    2
3    3
4    3
Name: 2, dtype: int64

In [58]:
z = col3 / 3

In [59]:
z

1.0

In [61]:
fila3 / 3

1   -0.333333
2    0.666667
3    1.000000
4    1.000000
Name: 2, dtype: float64

In [77]:
#para evitar ir de uno por uno se hace un ciclo for

In [78]:
#convercion a 1