In [25]:
import pandas as pd
import matplotlib as plot   
import numpy as np
import csv

In [34]:
# Definir los valores
i = 0.045

# Inicializar la matriz
matriz = []

# Llenar la matriz con los valores dados
for valor in range(int(32.75 / i), int(14.74 / i), -1):
    fila = [round (valor * i + 14.74,2)] #round para evitar tantos decimales
    matriz.append(fila)

    
nombre_archivo = 'latitud.csv'
with open(nombre_archivo, mode='w') as file:
    writer = csv.writer(file)
    writer.writerows(matriz)

print(f"La matriz se ha guardado en el archivo {nombre_archivo} con éxito.")

La matriz se ha guardado en el archivo latitud.csv con éxito.

In [35]:
# Definir los valores
i = 0.045

# Inicializar la matriz
matriz = []

# Llenar la matriz con los valores dados
for valor in range(int(-117.34 / i), int(-85.78 / i)):
    fila = [round(valor * i + 14.74,2)] 
    matriz.append(fila)
nombre_archivo = 'longitud.csv'
with open(nombre_archivo, mode='w') as file:
    writer = csv.writer(file)
    writer.writerows(matriz)

print(f"La matriz se ha guardado en el archivo {nombre_archivo} con éxito.")

La matriz se ha guardado en el archivo longitud.csv con éxito.

In [36]:
df1 = pd.read_csv(r'C:\Users\caroc\Untitled Folder\latitud.csv',encoding='latin1')

In [37]:
df2 = pd.read_csv(r'C:\Users\caroc\Untitled Folder\longitud.csv',encoding='latin1')

In [38]:
df1

     47.45
0    47.41
1    47.37
2    47.32
3    47.27
4    47.23
..     ...
394  29.68
395  29.63
396  29.59
397  29.55
398  29.50

[399 rows x 1 columns]

In [39]:
df2

     -102.58
0    -102.53
1    -102.48
2    -102.44
3    -102.39
4    -102.35
..       ...
695   -71.25
696   -71.21
697   -71.17
698   -71.12
699   -71.08

[700 rows x 1 columns]

In [40]:
merged_df = pd.concat([df1, df2])

In [41]:
merged_df

     47.45  -102.58
0    47.41      NaN
1    47.37      NaN
2    47.32      NaN
3    47.27      NaN
4    47.23      NaN
..     ...      ...
695    NaN   -71.25
696    NaN   -71.21
697    NaN   -71.17
698    NaN   -71.12
699    NaN   -71.08

[1099 rows x 2 columns]

merged_df.to_csv(r'C:\Users\caroc\Untitled Folder\juntos.csv')

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   47.45   399 non-null    float64
dtypes: float64(1)
memory usage: 3.2 KB

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   -102.58  700 non-null    float64
dtypes: float64(1)
memory usage: 5.6 KB

In [45]:
from shapely.geometry import Point
geometry = [Point(xy) for xy in zip (df1['lat'], df2['long'])]

ModuleNotFoundError: No module named 'shapely'