In [1]:
import pandas as pd
import pyodbc

In [2]:
df1= pd.read_csv(r'C:\Users\caroc\Untitled Folder\Apuntes\Procesamiento a\recetas\Analisis.csv', encoding='latin-1')

In [3]:
df2= pd.read_csv(r'C:\Users\caroc\Untitled Folder\Apuntes\Procesamiento a\recetas\Consultorio.csv', encoding='latin-1')

In [4]:

df3= pd.read_csv(r'C:\Users\caroc\Untitled Folder\Apuntes\Procesamiento a\recetas\Doctores.csv', encoding='latin-1')

In [13]:
df4= pd.read_csv(r'C:\Users\caroc\Untitled Folder\Apuntes\Procesamiento a\recetas\Paciente.csv', encoding='latin-1')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tipo     15 non-null     object
 1   fecha    15 non-null     object
 2   horario  15 non-null     object
dtypes: object(3)
memory usage: 492.0+ bytes

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   numero  50 non-null     int64
 1   piso    50 non-null     int64
dtypes: int64(2)
memory usage: 932.0 bytes

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nombres       199 non-null    object
 1   apellidos     199 non-null    object
 2   especialidad  199 non-null    object
 3   edad          199 non-null    int64
 4   telefono      199 non-null    int64
dtypes: int64(2), object(3)
memory usage: 7.9+ KB

In [14]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombres    501 non-null    object
 1   apellidos  501 non-null    object
 2   edad       501 non-null    int64
 3   telefono   501 non-null    int64
 4   direc      501 non-null    object
dtypes: int64(2), object(3)
memory usage: 19.7+ KB

In [35]:
conn = pyodbc.connect(driver='{SQL Server}', server='(local)', database='Hospital', trusted_connection='yes')

In [36]:
cursor = conn.cursor()

In [19]:
for index, rows in df3.iterrows():
    insert = """INSERT INTO [dbo].[Dim_Doctor]
           ([nombres]
           ,[apellidos]
           ,[especialidad]
           ,[edad]
           ,[telefono])
     VALUES
           ('{a}', '{b}', '{c}', {d}, {e})
           """.format(a= rows['nombres'],
                     b= rows['apellidos'],
                     c= rows['especialidad'],
                     d= rows['edad'],
                     e= rows['telefono'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break

conn.commit()
conn.close()

In [17]:
for index, rows in df4.iterrows():
    insert = """INSERT INTO [dbo].[Dim_Paciente]
           ([nombres]
          ,[apellidos]
          ,[edad]
          ,[telefono]
          ,[direccion])
     VALUES
           ('{a}', '{b}', {c}, {d}, '{e}')
           """.format(a= rows['nombres'],
                     b= rows['apellidos'],
                     c= rows['edad'],
                     d= rows['telefono'],
                     e= rows['direc'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break

conn.commit()
conn.close()

In [40]:
df4.head()

     nombres   apellidos  edad    telefono           direccion
0       Liam   rodriguez    23  2345678912  123 calle principal
1       emma      García    23  1234567849      456 Avenida Elm
2        Noé       López    44  2345678903       789 Roble Lane
3     Olivia    Martínez    45  4567890375       321 calle pino
4  Guillermo   hernandez    65  4567890167   Unidad de arce 654

In [33]:
df5= pd.read_csv(r'C:\Users\caroc\Untitled Folder\Apuntes\Procesamiento a\recetas\H_Recetas.csv', encoding='latin-1')

In [34]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_doctor       499 non-null    int64
 1   id_analisis     499 non-null    int64
 2   id_paciente     499 non-null    int64
 3   id_consultorio  499 non-null    int64
 4   medicamento     499 non-null    object
 5   farmacia        499 non-null    int64
 6   total_pagar     499 non-null    int64
dtypes: int64(6), object(1)
memory usage: 27.4+ KB

In [37]:
for index, rows in df5.iterrows():
    insert = """INSERT INTO [dbo].[Hecho_Receta]
           ([id_doctor]
          ,[id_analisis]
          ,[id_paciente]
          ,[id_consultorio]
          ,[medicamento]
          ,[farmacia]
          ,[total_pagar])
     VALUES
           ({a}, {b}, {c}, {d}, '{e}', {f}, {g})
           """.format(a= rows['id_doctor'],
                     b= rows['id_analisis'],
                     c= rows['id_paciente'],
                     d= rows['id_consultorio'],
                     e= rows['medicamento'],
                     f= rows['farmacia'],
                     g= rows['total_pagar'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break

conn.commit()
conn.close()