In [1]:
import pandas as pd
import pyodbc

In [3]:
df1= pd.read_csv(r'C:\Users\caroc\Untitled Folder\U2\Artistas.csv', encoding='latin-1')
df2= pd.read_csv(r'C:\Users\caroc\Untitled Folder\U2\Apple_new.csv', encoding='latin-1')
df3= pd.read_csv(r'C:\Users\caroc\Untitled Folder\U2\Deezer_new.csv', encoding='latin-1')
df4= pd.read_csv(r'C:\Users\caroc\Untitled Folder\U2\Spotify_new.csv', encoding='latin-1')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_artista  642 non-null    object
 1   Artista     642 non-null    object
dtypes: object(2)
memory usage: 10.2+ KB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          902 non-null    int64
 1   in_apple_playlists  902 non-null    int64
 2   in_apple_charts     902 non-null    int64
 3   Artista             902 non-null    object
 4   id_artista          902 non-null    int64
dtypes: int64(4), object(1)
memory usage: 35.4+ KB

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           566 non-null    int64
 1   Artista              566 non-null    object
 2   in_deezer_playlists  566 non-null    int64
 3   in_deezer_charts     566 non-null    int64
 4   id_artista           566 non-null    int64
dtypes: int64(4), object(1)
memory usage: 22.2+ KB

In [11]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            902 non-null    int64
 1   Artista               902 non-null    object
 2   in_spotify_playlists  902 non-null    int64
 3   in_spotify_charts     902 non-null    int64
 4   id_artista            902 non-null    int64
dtypes: int64(4), object(1)
memory usage: 35.4+ KB

In [23]:
conn = pyodbc.connect(driver='{SQL Server}', server='(local)', database='chs&plys', trusted_connection='yes')

In [24]:
cursor = conn.cursor()

In [14]:
for index, rows in df1.iterrows():
    insert = """INSERT INTO [dbo].[Artistas]
           ([id_artista]
           ,[artista])
     VALUES
           ({a},'{b}')
           """.format(a= rows['id_artista'],
                     b= rows['Artista'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break
conn.commit()
conn.close()

INSERT INTO [dbo].[Artistas]
           ([id_artista]
           ,[artista])
     VALUES
           (373,'Adassa, Mauro Castillo, Stephanie Beatriz, Encanto - Cast, Rhenzy Feliz, Diane Guerrero, Carolina Gaitan')

In [18]:
for index, rows in df2.iterrows():
    insert = """INSERT INTO [dbo].[Apple]
           ([in_apple_playlists]
           ,[in_apple_charts]
           ,[id_artista])
     VALUES
           ({a},{b},{c})
           """.format(a= rows['in_apple_playlists'],
                     b= rows['in_apple_charts'],
                     c= rows['id_artista'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break
conn.commit()
conn.close()

INSERT INTO [dbo].[Apple]
           ([in_apple_playlists]
           ,[in_apple_charts]
           ,[id_artista])
     VALUES
           (95,89,373)

In [22]:
for index, rows in df3.iterrows():
    insert = """INSERT INTO [dbo].[Deezer]
           ([in_deezer_playlists]
           ,[in_deezer_charts]
           ,[id_artista])
     VALUES
           ({a},{b},{c})
           """.format(a= rows['in_deezer_playlists'],
                     b= rows['in_deezer_charts'],
                     c= rows['id_artista'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break
conn.commit()
conn.close()

INSERT INTO [dbo].[Deezer]
           ([in_deezer_playlists]
           ,[in_deezer_charts]
           ,[id_artista])
     VALUES
           (965,20,374)

In [25]:
for index, rows in df4.iterrows():
    insert = """INSERT INTO [dbo].[Spotify]
           ([in_spotify_playlists]
           ,[in_spotify_charts]
           ,[id_artista])
     VALUES
           ({a},{b},{c})
           """.format(a= rows['in_spotify_playlists'],
                     b= rows['in_spotify_charts'],
                     c= rows['id_artista'])
    
    try:
        cursor.execute(insert)
    except:
        print(insert)
        break
conn.commit()
conn.close()

INSERT INTO [dbo].[Spotify]
           ([in_spotify_playlists]
           ,[in_spotify_charts]
           ,[id_artista])
     VALUES
           (2785,0,373)